.header {
    background-color: brown;
}

.main {
    background-color: black;
    height: 500px;
}

.mentor {
    background-color: rgb(255, 165, 165);
    height: 300px;
}

.spec {
    background-color: black;
    height: 300px;
}

.col-lg-8 {
    background-color: aquamarine;
    height: 500px;
}

.achivements {
    background-color: black;
    height: 100px;
}

.footer {
    background-color: black;
    height: 400px;
}